ul {
    list-style-type: circle;
}
table, td, th {
    border-collapse: collapse;
    border: 2px solid #000000;
  }
tr {
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.first-raw {
    color: rgb(0, 0, 0);
}
.second-raw {
    color: rgb(0, 0, 0);
}
tr:nth-child(3) {
    background-color: beige;
}
