* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item {
    background-color: rgb(208, 239, 228);
    padding: 50px;
    width: 350px;
    margin: 20px
}
p {
    font-size: 24px;
    text-align: center;
}
.hidden {
    display: none;
}
.btns {
    display: flex;
    justify-content: center;
}
button {
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}
.deutsch {
    background-color: rgb(193, 219, 242);
}
.english {
    background-color: rgb(249, 212, 199);
}